<% include partials/header %>

<div class="container">
    
    <h1>More info about this campground:</h1>
    
    <h1><%= campground.name %></h1>
    <img src="<%= campground.image %>" >
    <p><%= campground.description %> </p>
    
    <h3>Comments:</h3>
     <% campground.comments.forEach(function(comment){ %>
     
     <div>
         <p>
             <strong><%= comment.author %></strong> - <%= comment.text %>
         </p>
     </div>
     
     <% }) %>
     
    
    
</div>

<% include partials/footer %>

